# local files and directories
*~
.*.swp
.*.swn
.*.swo
html
latex
bin/
src/.idea
*.bak

# src directory
build
config

# Ignore meld backups
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.orig

# Mac files
.DS_Store

docs

# Sphinx files
__pycache__
