# local files and directories
*~
.*.swp
.*.swn
.*.swo
html
latex
bin/
src/.idea

# src directory
build
config
updatelib.sh*

# doc directory
*.png
*.pdf
*.info
*.info*
*.aux
*.cp
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.tps
*.vr
*.fig
*.kys
data
tags

*.orig
