### FEPX Configuration File

## Optional Input

## Material Parameters

    number_of_phases 1

    phase 1

    crystal_type FCC
    m 0.050d0
    gammadot_0 1.0d0
    h_0 200.0d0
    g_0 210.0d0
    g_s0 330.0d0
    n 1.0d0
    c11 245.0e3
    c12 155.0e3
    c44 62.50e3

## Deformation History

    def_control_by uniaxial_strain_target

    number_of_strain_steps 2

    target_strain 0.025 10 print_data
    target_strain 0.050 10 print_data

## Boundary Condition

    boundary_conditions uniaxial_grip

    loading_direction Z
    loading_face Z_MAX

    strain_rate 1e-2

## Printing Results

    print coo
    print disp
    print vel
    print crss
    print defrate
    print defrate_eq
    print defrate_pl
    print defrate_pl_eq
    print elt_vol
    print ori
    print slip
    print sliprate
    print spinrate
    print strain
    print strain_eq
    print strain_el
    print strain_el_eq
    print strain_pl
    print strain_pl_eq
    print stress
    print stress_eq
    print velgrad
    print work
    print work_pl
    print workrate
    print workrate_pl
